//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 25 15:33:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "cathode<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "cathode<1>" LOCATE = SITE "R10" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "cathode<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "cathode<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "cathode<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "anode<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "cathode<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "anode<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "cathode<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "anode<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "cathode<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "anode<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "push" LOCATE = SITE "P18" LEVEL 1;
COMP "rst" LOCATE = SITE "M18" LEVEL 1;
SCHEMATIC END;

