//! **************************************************************************
// Written by: Map P.20131013 on Mon May 01 00:44:28 2017
//! **************************************************************************

SCHEMATIC START;
COMP "In<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "In<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "In<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "In<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "In<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "In<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "In<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "In<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "Out<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Out<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Out<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Out<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Out<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

